<% provide(:title, "Contact") %>

<h1>Contact Us</h1>

<p>We’d love to hear from you!</p>

<p>For questions, feedback, or general inquiries, feel free to reach out.</p>

<strong>Technical Support</strong>
<p>
	If you encounter bugs or technical issues, please report them via our <a href="https://github.com/ycisir/study_mates/issues" target="_blank" class="text-dark text-decoration-none">GitHub Issues page</a>. This helps us track and resolve problems efficiently.
</p>

<p>When submitting an issue, try to include:</p>

<ul>
	<li>A clear description of the problem</li>
	<li>Steps to reproduce it</li>
	<li>Screenshots (if applicable)</li>
</ul>

<strong>General Inquiries</strong>

<p>For non-technical questions or suggestions, you can contact us via <a href="https://www.linkedin.com/in/ycisir/" target="_blank" class="text-dark text-decoration-none">linkedin</a>.</p>

<p>Your feedback helps us improve StudyMates for everyone.</p>