<h1>StudyMates</h1>

<p>Hey, <%= @user.name %></p>

<p>Welcome to StudyMates! click on the link below to activate your account:</p>

<%= link_to "Activate", edit_account_activation_url(@token, email: @user.email)  %>