<% provide(:title, 'Edit user') %>
<% provide(:button_text, 'Save changes') %>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h1 class="fw-light">Update your profile</h1>
		<%= render 'form' %>
	</div>
</div>