<% provide(:title, 'All users') %>

<h1 class="fw-light">All users (<%= @users.count %>)</h1>

<%= will_paginate %>

<ul class="list-group list-group-flush mb-3">
	<%= render @users %>
</ul>

<%= will_paginate %>