<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>

<div class="row">
	<div class="col-md-6 offset-md-3">
		<h1 class="fw-light">Sign up</h1>
		<%= render 'form' %>
	</div>
</div>