<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4 mb-3">
		<section class="d-flex align-items-start">
		  <% if @user.avatar.attached? %>
		    <%= image_tag @user.avatar.variant(:profile), class: "me-2" %>
		  <% end %>
		  <h5 class="mb-0"><%= @user.name %></h5>
		</section>
	</aside>

	<aside class="col-md-8">
		<h5 class="fw-light">Rooms (<%= @rooms.count %>)</h5>
		<%= render 'static_pages/rooms' %>
	</aside>
</div>