<div class="row">
  
  <div class="col-sm-3 mb-5">
    <%# render "topic" %>
    Topic
  </div>
  
  <div class="col-sm-6 mb-5">
    <div class="row">
      <div class="col">
        <h5>All rooms</h5>
        <small><%= pluralize(@rooms.count, 'room') %> available</small>
      </div>
      <div class="col text-end">
        <%= link_to "New room", new_room_path, class: "btn btn-outline-primary" if user_signed_in? %>
      </div>
    </div>

    <%= render "rooms" %>
  </div>
  
  <div class="col-sm-3">
    <%# render "activity" %>
    Activity
  </div>

</div>