<div class="row justify-content-center">
<div class="col-lg-6 col-md-8">
  <div class="card shadow-sm border-0">
    <div class="card-body p-4">
      <h4 class="mb-4">Create New Room</h4>
		<%= render "form", room: @room %>
    </div>
  </div>
</div>
</div>
