@import "bootstrap";

.search-bar {
	padding: 3px 25px !important;
}

.pagination {
    padding-left: 0;
    border-radius: 5px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination .active > a {
	background-color: #0d6efd;
	color: #fff;
}