@import "bootstrap";

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
}
h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
}
h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: #eaeaea;
}
p {
    font-size: 1.1em;
    line-height: 1.7em;
}

.search-bar {
	padding: 3px 9px !important;
}

.pagination {
    padding-left: 0;
    border-radius: 5px;
}
.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.428571429;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination .active > a {
	background-color: #0d6efd;
	color: #fff;
}